<ion-view view-title="Login" ng-controller="loginCTRL">
	
	<ion-header-bar align-title="left" class="bar-energized">
  		<h1 class="title">Login</h1>
	</ion-header-bar>

	<ion-content class="login-cn">

		<div class="logo">
			<span class="ion-social-usd"></span>
		</div>

		<div class="login-frm">
			<div class="list">
				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="loginForm.userPassword">
				</label>				
			</div>			
		</div>
		
		<button class="button-block button button-energized" ng-click="doLogin()">
		 	 Login
		</button>

		<p class="error-text" ng-show="loginForm.showError">
			Password is invalid
		</p>

  	</ion-content>
</ion-view>
